body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.txt{
    text-align: center;
    margin: 150px;
}
.line{
    border-left: 4px solid rgb(255, 47, 47);
    height: 85px;
}
.orange-color{
    color: orange;
}
.flexible-continer{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width-image{
    width: 50%;
    margin-top: 50px;
}
.half-width-image2{
    width: 30%;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}


.goal-area1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: rgba(237,245,246,255);
    

}
.goal-area2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: rgba(255,238,238,255);
   

}
.goal-area3{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: rgba(255,244,214,255);
    

}

.dream-big{
    background-image:url(images/shapes/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: left;
    
}
.dotted-hr{
    border: dotted 6px black;
    border-bottom: none;
    margin: 20px auto;
    width: 100px;
}
.contact{
    height:100vh;
}
.contact-me{
    text-align: center;

}


footer{
    text-align:center;
    color: white;
    


}

.Footer-color{
    background-color: rgb(21, 23, 24);
}